@media (max-width: 750px) {
    html {
        height: 100%;
    }
    h3 {
        font-size: 4em;
    }
    .container {
        padding-top: 10%;
    }
}

@media (max-width: 455px) {
    html {
        height: 100%;
    }
    h3 {
        font-size: 3.5em;
    }
    .container {
        padding-top: 25%;
    }
}

@media (max-width: 360px) {
    html {
        height: 100%;
    }
    h3 {
        font-size: 3em;
    }
    .container {
        padding-top: 25%;
    }
}
