html, body {
    height: 100%;
}

body {
    margin: 0;
    color: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    text-shadow: 1px 1px #000;
    background: #111 url('../images/mountains.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    display: inline-block;
    vertical-align: top;
    max-width: 650px;
    padding: 175px 20px 15px;
}

h3 {
    margin: 0;
    font-weight: 600;
    font-size: 10vw;
    display: block;
}

h3::selection {
    background: black;
}

.text-area {
    display: block;
}

h4 {
    margin: 0;
    font-weight: 400;
    font-size: 4vw;
    display: block;
    padding-top: 20px;
}

h4>span::selection {
    background: black;
}

.highlight {
    background: linear-gradient(180deg,rgba(255,255,255,0) 65%, #000000 0%)
}

.text-area-lower {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;    
    display: flex;
    justify-content: center;
    padding-bottom: 10px;;
}

.image {
    width: 9vw;
    max-width: 85px;
}

.fade-in {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    animation-duration: 0.4s;
}

.text {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.text-subtitle {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

@media (max-width: 650px) {
    html {
        height: 100%;
    }
    h3{
        font-size: 20vw;
    }
    h4{
        font-size: 8vw;
    }
    .container {
        padding-top: 25%;
    }
    .image {
        width: 15vw;
        max-width: 85px;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: translateY(0px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(20px);
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: translateY(0px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(20px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: translateY(0px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(20px);
    }
}
