html, body, {
    height: 100%;
}

body {
    margin: 0;
    color: #FFF;
    font: normal 16px/1.2 "Roboto", Helvetica, Arial, sans-serif;
    text-align: center;
    text-shadow: 1px 1px #000;
    background: #111 url('../images/mountains.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    display: inline-block;
    vertical-align: top;
    max-width: 650px;
    padding: 175px 20px 15px;
}

.fade-in {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    animation-duration: 0.4s;
}

.text {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

h3::selection {
    background: black;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: translateY(0px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(20px);
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: translateY(0px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(20px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: translateY(0px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(20px);
    }
}

h3 {
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
    margin: 0;
    font-weight: 400;
    font-size: 8em;
    display: block;
}

.github-icon {
    position: fixed;
    bottom: 15px;
    left: 15px;
}

.laylow-icon {
    position: fixed;
    bottom: 15px;
    right: 15px;
}
